fastapi
uvicorn[standard]
pydantic
python-dotenv
sse-starlette
langchain
langchain-core
langchain-community
langgraph
langchain-groq
langchain-huggingface
sentence-transformers
cohere
langchain-cohere
fastembed
qdrant-client
pypdf
tiktoken
langsmith